/* app css stylesheet */
body{
background-color: #ccc;
}
.done_button{
 float: right;
}
.show_text{
	float: right;
	margin:5px auto;
}
.box{
  background-color: #fff;
  border: 5px solid skyblue;
  border-radius: 4px;
  height: 300px;
  left: 15px;
  margin: 10px;
  position: relative;
  top: 15px;
  width: 600px;
  z-index: 1;
}
.inner_box{
	border-top-right-radius: 25px;
	border:1px solid; 
	z-index:2; 
	background:#fff;
	float: left;
	left:0;
	bottom:0;
	border-bottom:0;
	border-left:0;
	margin-left: 0;
}
.pane_box{
	  background-color: #fff;
    border: 5px solid skyblue;
    border-radius: 4px;
    height: 180px;
    margin-left: 60px;
    position: relative;
    top: 15px;
    width: 180px;
    z-index: 1;
}    
.inner_box:hover{
	border:3px solid blue;
	cursor: pointer;
}
.big_box{
	border-top-right-radius: 25px;
	border:3px solid #666;
	z-index:15;
	background:#ddd;
	float: left;
	left:0;
	bottom:0;
	border-bottom:0;
	border-left:0;
	margin-left: 0;
	height:300px !important;
	width:600px !important;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	}

.pane_div
{
	float:right;
	position: relative;
  border: 5px solid ;
  border-radius: 4px;
  height: 800px;
  width:300px;
}
