<div 
	class="inner_box"
 	ng-init="enlarge=true"
  id="{{labels.id+$index}}"
  ng-repeat="panes in getPanes(length) track by $index" 
  ng-click="enlarge=!enlarge; $event.stopPropagation();" 
  ng-model="checked"
  ng-class="{'big_box':!enlarge,'inner_box':enlarge}"
  ng-show="showNumberForBox(count+length-$index)"
  container-style-directive>
    <label>{{showNumberForBox(count+length-$index)}}</label><br>
    <label>{{showIdForBox(count+length-$index)}}</label><br>
    <label>{{showTextForBox(count+length-$index)}}</label><br>
    <button
      ng-click="count=increment(); $event.stopPropagation();" 
      ng-disabled="!enlarge"
      class="done_button">
      DONE
    </button>
</div>
  