<div class="pane_div"
		 ng-init="smallView=true">
		<div ng-repeat="labels in mailsList"
	  		 ng-if="!(labels.name==enlargedItem)">
				<pane-widget-generator> </pane-widget-generator>
		</div>	
</div>