<div 
	class="inner_box"
 	ng-init="enlarge=true"
  id="{{enlargedItem+$index}}"
  ng-repeat="mail in Mails track by $index" 
  ng-click="enlarge=!enlarge; $event.stopPropagation();" 
  ng-model="checked"
  ng-class="{'zoomed_big_box':!enlarge,'zoomed_inner_box':enlarge}"
  ng-show="showNumberForBox(Mails.length-$index)"
  container-style-directive>
    <label>{{showNumberForBox(Mails.length-$index)}}</label><br>
    <label>{{showIdForBox(Mails.length-$index)}}</label><br>
    <label>{{showTextForBox(Mails.length-$index)}}</label><br>
</div>
  