<!doctype html>
<html lang="en" ng-app="mailApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/constant.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body >
<div ng-controller="MailCtrl">
  <div ng-show="viewable" ng-init="showWidgets();">
    <input type="number" ng-model="widgetLength" min="1" max="8" required> 
    <button ng-click="mailsList=LoadFile()">LOAD</button>
  </div>  
  <div>
  <div ng-view></div> <br>
  <label-view-generator> </label-view-generator>
</div>          
</body>
</html>