<!doctype html>
<html lang="en" ng-app="mailApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
</head>
<body ng-controller="MailWidgetCtrl">
  <div id="{{$index}}" style={{applyStyle(mail.name+$index)}} ng-repeat="panes in getPanes(5) track by $index">

  </div>
<body>
<html>    